<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellomyheart.learn.oa.student.mapper.TGradeMapper">
  <resultMap id="BaseResultMap" type="cn.hellomyheart.learn.oa.domain.TGrade">
    <!--@mbg.generated-->
    <!--@Table t_grade-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="u_no" jdbcType="VARCHAR" property="uNo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="week" jdbcType="INTEGER" property="week" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, u_no, `name`, createtime, week, `location`, flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_grade
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_grade
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.hellomyheart.learn.oa.domain.TGrade" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_grade (u_no, `name`, createtime, 
      week, `location`, flag
      )
    values (#{uNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{week,jdbcType=INTEGER}, #{location,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.hellomyheart.learn.oa.domain.TGrade" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_grade
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uNo != null">
        u_no,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="week != null">
        week,
      </if>
      <if test="location != null">
        `location`,
      </if>
      <if test="flag != null">
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uNo != null">
        #{uNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="week != null">
        #{week,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hellomyheart.learn.oa.domain.TGrade">
    <!--@mbg.generated-->
    update t_grade
    <set>
      <if test="uNo != null">
        u_no = #{uNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="week != null">
        week = #{week,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        `location` = #{location,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hellomyheart.learn.oa.domain.TGrade">
    <!--@mbg.generated-->
    update t_grade
    set u_no = #{uNo,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      week = #{week,jdbcType=INTEGER},
      `location` = #{location,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>